<div ng-if="!infCtrl.isSignedUp" >
  <div align="center">
    Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
  </div>
</div>
<div ng-if="infCtrl.isSignedUp" class="container">
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone No</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{infCtrl.user.fname}}</td>
      <td>{{infCtrl.user.lname}}</td>
      <td>{{infCtrl.user.email}}</td>
      <td>{{infCtrl.user.phone}}</td>
    </tr>
  </tbody>

</table>
<menu-item menu-item="infCtrl.item"><menu-item>
</div>
